.cover__subtitle {
  margin: 0 auto 32px;
  width: 360px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  position: relative;
}
