.header {
  margin: 28px 48px 56px;
  max-width: 1184px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

@media screen and (max-width: 928px) {
  .header {
    margin: 28px 48px 48px;
  }
}

@media screen and (max-width: 720px) {
  .header {
    margin: 28px 24px 48px;
  }
}

@media screen and (max-width: 288px) {
  .header {
    margin: 16px 16px 48px;
  }
}
