.header {
  margin: 28px auto 56px;
  max-width: 1184px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 28px auto 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 16px auto 48px;
  }
}
